SUPABASE_URL=https://axzqeugbjsdwpetkilrv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF4enFldWdianNkd3BldGtpbHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDc0NTc1NTYsImV4cCI6MjAyMzAzMzU1Nn0.PPe86Bzbz_ANq96ta92VbUCJy7aBCu0nXZCyvd5J9Fc